{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_jazzquiz/quiz

    Main wrapper for a JazzQuiz session.

    Example context (json):
    {
        "instructor": true
    }
}}
<div id="jazzquiz">
    {{#instructor}}
    <div id="jazzquiz_controls_box" class="jazzquiz-box">
        <div id="jazzquiz_controls">
            <div class="quiz-list-buttons quiz-control-buttons hidden">
                <button class="btn btn-secondary jazzquiz-control-button" data-control="repoll">
                    <i class="fa fa-repeat"></i> {{#str}}repoll, jazzquiz{{/str}}
                </button>
                <button class="btn btn-secondary jazzquiz-control-button" data-control="vote">
                    <i class="fa fa-bar-chart"></i> {{#str}}vote, jazzquiz{{/str}}
                </button>
                <button class="btn btn-secondary jazzquiz-control-button" data-control="improvise">
                    <i class="fa fa-edit"></i> {{#str}}improvise, jazzquiz{{/str}}
                </button>
                <button class="btn btn-secondary jazzquiz-control-button" data-control="jump">
                    <i class="fa fa-bars"></i> {{#str}}jump, jazzquiz{{/str}}
                </button>
                <button class="btn btn-secondary jazzquiz-control-button" data-control="next">
                    <i class="fa fa-forward"></i> {{#str}}next, jazzquiz{{/str}}
                </button>
                <button class="btn btn-secondary jazzquiz-control-button" data-control="random">
                    <i class="fa fa-random"></i> {{#str}}random, jazzquiz{{/str}}
                </button>
                <button class="btn btn-secondary jazzquiz-control-button" data-control="end">
                    <i class="fa fa-close"></i> {{#str}}end, jazzquiz{{/str}}
                </button>
                <button class="btn btn-secondary jazzquiz-control-button" data-control="fullscreen">
                    <i class="fa fa-expand"></i> {{#str}}fullscreen, jazzquiz{{/str}}
                </button>
                <button class="btn btn-secondary jazzquiz-control-button" data-control="quit">
                    <i class="fa fa-window-close"></i> {{#str}}quit, jazzquiz{{/str}}
                </button>
                <button class="btn btn-secondary jazzquiz-control-button" data-control="responses">
                    <i class="fa fa-square-o"></i> {{#str}}responses, jazzquiz{{/str}}
                </button>
                <button class="btn btn-secondary jazzquiz-control-button" data-control="answer">
                    <i class="fa fa-square-o"></i> {{#str}}answer, jazzquiz{{/str}}
                </button>
            </div>
            <div id="jazzquiz_improvise_menu" class="start-question-menu"></div>
            <div id="jazzquiz_jump_menu" class="start-question-menu"></div>
            <div id="jazzquiz_start_quiz_wrapper" class="quiz-list-buttons">
                <span>
                    <button id="jazzquiz_start_quiz_button" class="btn btn-primary">
                        <i class="fa fa-play"></i> {{#str}}startquiz, jazzquiz{{/str}}
                    </button>
                </span>
                <h4 id="jazzquiz_students_joined_counter"></h4>
                <span>
                    <button id="jazzquiz_exit_button" class="btn btn-secondary">
                        <i class="fa fa-close"></i> {{#str}}exit, jazzquiz{{/str}}
                    </button>
                </span>
            </div>
            <div id="jazzquiz_control_separator"></div>
        </div>
    </div>
    <div id="jazzquiz_correct_answer_container" class="jazzquiz-response-container jazzquiz-box hidden"></div>
    <div id="jazzquiz_side_container" class="jazzquiz-box">
        <div id="jazzquiz_responded_container" class="jazzquiz-box">
            <div>
                <div id="jazzquiz_responded_box">
                    <h4 class="inline"></h4>
                </div>
            </div>
        </div>
        <div id="jazzquiz_question_timer" class="jazzquiz-box hidden"></div>
        <div id="jazzquiz_response_info_container" class="jazzquiz-box hidden"></div>
    </div>
    {{/instructor}}
    {{^instructor}}
    <div id="jazzquiz_question_timer" class="jazzquiz-box hidden"></div>
    {{/instructor}}
    <div id="jazzquiz_info_container" class="jazzquiz-box hidden"></div>
    <div id="jazzquiz_question_box"></div>
    {{#instructor}}
    <div>
        <button id="jazzquiz_undo_merge" class="btn btn-primary hidden">
            <i class="fa fa-undo"></i>
        </button>
    </div>
    <div id="jazzquiz_responses_container" class="jazzquiz-response-container jazzquiz-box hidden"></div>
    {{/instructor}}
</div>
